{% extends 'base.html' %}

{% block content%}
    <h1>{{ page_title }}</h1>

    <ul>
	    {% for key_val_pair in object_to_display %}

	    	{% if key_val_pair.0 == "Price" %}

			    <li><strong>{{ key_val_pair.0 }}</strong>: ${{ key_val_pair.1 }}</li>

			{% else %}
			   
				<li><strong>{{ key_val_pair.0 }}</strong>: {{ key_val_pair.1 }}</li>

	    	{% endif %}
		
	    {% endfor %}
    </ul>
    {% if type == "product" %}
        <button action="{% url 'website:product_detail' %}" method="post">Add to Cart</button>
    {% endif %}
{% endblock %}