{% extends 'base.html' %}

{% block content%}
    <h1>{{ page_title }}</h1>


    <!-- PRODUCTS LIST -->
    {% if page_title == "Products" %}
        <ul>
        {% for item in items %}
            <li><a href="/products/{{ item.id }}">{{ item.title }}</a></li>
        {% empty %}
            <h3> Sorry! No products</h3>
        {% endfor %}
        </ul>

    <!-- PRODUCT CATEGORY DETAIL -->
    {% else %}
        <ul>
        {% for item in items %}
            <li><a href="/product-categories/{{ item.id }}">{{ item.title }}</a></li>
        {% empty %}
            <h3> Sorry! No products</h3>
        {% endfor %}
        </ul>
    {% endif %}
    
{% endblock %}