{% extends 'base.html' %}

{% block content%}
    <div class="jumbotron">
        <img style="float:right; height: 9em; border: 8px solid #fff;" src="{{ product.image.url }}" alt="">
        <h1>{{ product.title }}
        {% if product.is_active == 0 %}
            <span style="font-size:.3em;" class="text-danger text-center">* This product has been removed by seller.</span>
        {% endif %}
        </h1>
        <a href="/product-categories/{{product.product_category.id}}/" class="lead text-primary">from {{ product.product_category.title }}
        </a>
        <hr>
        <p class="lead text-right">{{ product.description }}</p>
        <hr>
        <p class="lead text-center">Price per Unit<span style="float:right">{{ product.formatted_price }}</span></p>
        <p class="lead text-center">Quantity  <span style="float:right">{{ product.current_inventory }}</span></p>
        <hr>
        <blockquote class="blockquote-reverse">
          <footer>Added {{ product.date_added }} by {{ product.seller.first_name }} {{ product.seller.last_name}}</footer>
        </blockquote>
        <p>
            {% if user.is_authenticated and product.is_active == 1%}
                <form class="text-right" name="detail_form" action="{% url 'website:product_detail' product.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-success" name="detail_button" type="submit"  value="Add to Cart"/>
                    {% if current_users_product %}
                        <input class="btn btn-danger" name="detail_button" type="submit" value="Remove for Sale">
                    {% endif %}
                </form>
                <form action="{% url 'website:recommend_product' product.id%}"><input class="btn btn-success pull-right" type="submit" style="margin-top: 5px" value="Recommend to a Friend"></input></form>
            {% endif %}
            </p>
    </div>
{% endblock %}