{% extends 'base.html' %}

{% block content%}
    <div class="jumbotron text-center">
        <h1>{{ product.title }}</h1>
        <p class="lead">from {{ product.product_category.title }}</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <div class="thumbnail">
          <img class="hide" src="..." alt="...">
          <div class="caption">
            <h3>{{ product.title }}</h3>
            <p class="lead">{{ product.description }}</p>
            <hr>
            <p>Price per Unit : ${{ product.price }}0</p>
            <p>Quantity : {{ product.quantity }}</p>
            <hr>
            <blockquote class="blockquote-reverse">
              <footer>Added {{ product.date_added }} by {{ product.seller.first_name }} {{ product.seller.last_name}}</footer>
            </blockquote>
            <p>
            {% if user.is_authenticated %}
                <form class="text-right" action="{% url 'website:product_detail' product.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-success" type="submit"  value = "Add to Cart"/>
                </form>
            {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
{% endblock %}