{% extends 'base.html' %}

{% block content%}
    <div class="jumbotron">
        <img style="float:right; height: 9em; border: 8px solid #fff;" src="http://lorempixel.com/400/200/" alt="">
        <h1>{{ product.title }}</h1>
        <a href="/product-categories/{{product.product_category.id}}/" class="lead text-primary">from {{ product.product_category.title }}
        </a>
        <hr>
        <p class="lead text-right">{{ product.description }}</p>
        <hr>
        <p class="lead text-center">Price per Unit<span style="float:right">{{ product.formatted_price }}</span></p>
        <p class="lead text-center">Quantity  <span style="float:right">{{ product.current_inventory }}</span></p>
        <hr>
        <blockquote class="blockquote-reverse">
          <footer>Added {{ product.date_added }} by {{ product.seller.first_name }} {{ product.seller.last_name}}</footer>
        </blockquote>
        <p>
            {% if user.is_authenticated %}
                <form class="text-right" name="detail_form" action="{% url 'website:product_detail' product.id %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-success" name="detail_button" type="submit"  value="Add"/>
                    {% if current_users_product %}
                        <input class="btn btn-danger" name="detail_button" type="submit" value="Delete">
                    {% endif %}
                </form>
            {% endif %}
            </p>
    </div>
{% endblock %}