{% extends 'base.html' %}

  {% block content %}
	<div class="jumbotron text-center">
    <h1>Welcome to Bangazon!</h1>
    {% if user.is_authenticated %}
    <p class="lead">Bangazon says... hello {{ user.username }}!</p>
    {% else %}
    <p class="lead">Bangazon says...</p>
    {% endif %}
	</div>
  {% if order_products %}
    <div class="col-xs-8 col-xs-offset-2">
    <div class="list-group">
    {% for product in order_products %}
      <li class="list-group-item list-group-item-danger lead">Shopping Cart</li>
      <a class="list-group-item list-group-item-danger text-right text-capitalize" href="/products/{{ product.id }}">{{ product.title }}</a>

    {% empty %}
      <h4>{{ error }}</h4>
    {% endfor %}
    </div>
    </div>
  {% endif %}
  <div class="col-xs-6">
  <h2 style="margin-left:1em;">Recently Added 20 Products</h2>
    <div class="list-group">
    {% for product in product_dict_list %}

      <a class="list-group-item list-group-item-info lead text-capitalize" href="/products/{{ product.id }}">{{ product.title }} <span style="font-size: .6em; margin-left: 4em;">Quantity : {{ product.current_inventory }}</span><span style="float: right">for {{product.formatted_price}} / unit</span></a>

    {% empty %}
      <h4>{{ error }}</h4>
    {% endfor %}
    </div>
  </div>
  {% if user.is_authenticated %}
  <div class="col-xs-6">
  <h2 class="text-right">Recommended Products</h2>
    <div class="list-group">
    {% for product in product_recommendations %}

      <a class="list-group-item list-group-item-success lead text-capitalize" href="/products/{{ product.id }}">{{ product.title }} <span style="font-size: .6em; margin-left: 4em;">Quantity : {{ product.current_inventory }}</span><span style="float: right">for {{product.formatted_price}} / unit</span></a>

    {% empty %}
      <h4 class="lead text-right">Like or Dislike more products to get recommendations</h4>
    {% endfor %}
    </div>
  </div>
  {% endif %}
  {% endblock %}
