{% extends 'base.html' %}
{% load staticfiles %}

	{% block content %}
		<h1 class="text-center">My Account</h1>
		<p class="text-center lead">for {{ request.user.first_name }} {{ request.user.last_name }}</p>
        

        <div class="col-xs-6 col-xs-offset-3">
        {% if payment_types %}
            <h4>Payment Types</h4>

        {% else %}

        {% endif %}

        <ol class="list-group">
            {% for payment_type in payment_types  %}
                <li class="list-group-item lead">
                    {{ payment_type }}
                    <span style="float: right">
                        <form style="display: inline" method="POST" action="{% url 'website:delete_payment_type' payment_type.id %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-sm btn-danger" value="Delete" name="delete_payment_type"></input>
                        </form>
                    </span>
                </li>
            {% empty %}
                <div class="text-center">
                <h4>No Payment Types!</h4>
                <span><p>Add a payment type below</p></span>
                </div>
            {% endfor %}
        </ol>
        <div class="text-center">
		<a class="btn btn-primary" href="{% url 'website:payment_type' %}">Create Payment Type</a>
        </div>
	{% endblock %}
