

<nav class='navbar navbar-default' style="background-color: #e8f5e9">
  <div class="container-fluid">
    <a class='navbar-brand' href='/'>Bangazon</a>
    <ul class="nav navbar-nav">
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'website:logout' %}">Logout</a>
      </li>
    </ul>  
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="{% url 'website:list_product_categories' %}">Categories</a>
      </li>
      <li>
        <a href="/products">All Products</a>
      </li>
      <li>
        <a href="/my-account/{{ user.id }}">My Account</a>
      </li>
      <li>
        <a href="{% url 'website:sell' %}">Sell Product</a>
      </li>
      <li>
        <a href="/my-products/{{ user.id }}">My Products</a>
      </li>
      <li>
        <a href="/order/{{ request.user.profile.get_user_order }}">Shopping Cart</a>
      </li>
    </ul>

    {% else %}
      <li>
        <a href="{% url 'website:register' %}">Register</a>
      </li>
      <li>
        <a href="{% url 'website:login' %}">Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="{% url 'website:list_product_categories' %}">Categories</a>
      </li>
      <li>
        <a href="/products">All Products</a>
      </li>
    </ul>
    {% endif %}
 </div> 
</nav>