<nav class='navbar navbar-default' style="background-color: #e8f5e9">
  <div class="container-fluid">
    <a class='navbar-brand' href='/'>Bangazon</a>
    <ul class="nav navbar-nav">
    {% if user.is_authenticated %}
      <li>
        <a href="{% url 'website:logout' %}">Logout</a>
      </li>
    </ul>  
    <ul class="nav navbar-nav navbar-right">
      <li>
      <div style="display:flex;align-items:center;">
        <label class="form-check-label" for="search_location_checkbox" style="font-size: .83em; font-weight: normal; color: gray">Search Product Locations: <input id="search_location_checkbox" title="Search Product Locations" type="checkbox" label="Search Product Locations: " /></label>
        <form class="navbar-form" id="product_search_form" type="get" action= "{% url 'website:search_products' %}">
          <div class="form-group">
            <input  class="form-control" id="product_search_box" type="text" name="product_search_box"  placeholder="Search Products..." >
          </div>
          <button class="btn btn-default" id="search_submit" type="submit" >Submit</button>
        </form>
        <form class="navbar-form" id="location_search_form" style="display: none" type="get" action= "{% url 'website:search_locations' %}">
          <div class="form-group">
            <input  class="form-control" id="location_search_box" type="text" name="location_search_box" placeholder="Search Location..." >
          </div>
          <button class="btn btn-default" id="search_submit" type="submit" >Submit</button>
        </form>
        </div>
      </li>
      <li>
        <a href="{% url 'website:list_product_categories' %}">Categories</a>
      </li>
      <li>
        <a href="{% url 'website:sell' %}">Sell Product</a>
      </li>
      <li>
        <a href="/my-products/{{ user.id }}">My Products</a>
      </li>
      <li>
        <a href="/recommendations/{{ user.id }}">Recommended<span class="badge" style="margin-left: 2px">{{ user.profile.get_user_recommendations }}</span></a><br>
      </li>
      <li>
        <a href="/my-account/{{ user.id }}"><i style="font-size:1.8em;" class="fi-torso"></i></a>
      </li>
      <li>
        <a href="/order/{{ request.user.profile.get_user_order }}">
        <i style="font-size:1.8em;" class="fi-shopping-cart"></i></a>
      </li>
    </ul>
    {% else %}
      <li>
        <a href="{% url 'website:register' %}">Register</a>
      </li>
      <li>
        <a href="{% url 'website:login' %}">Login</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="{% url 'website:list_product_categories' %}">Categories</a>
      </li>
    </ul>
    {% endif %}
 </div> 
</nav>