{% extends 'base.html' %}

  {% block content %}
	<div class="jumbotron">
    <h1>Order # {{ order.id }}</h1>
      {% if valid_order %}
      {% else %}
        <h2><font color="red">Uh Oh!</font></h2>
        <h4 class="" ><font color="red">The following products have been removed by the seller:</font></h4>
        <ul class="">
          {% for product in invalid_products %}
            <li class=""><a href="/products/{{ product.id }}">{{ product.title }}</a></li>
          {% endfor %}
        </ul>
      {% endif %}
	</div>

  {% if empty_order %}
    <h4>No products are on your order!</h4>
  {% else %}



  <table class="table table-striped table-hover">
    <tr>
      <th>Product</th>
      <th class="text-center">Quantity</th>
      <th class="text-right">Price/Unit</th>
      <th class="text-right">Subtotal</th>
      <th></th>
    </tr>
    {% for object in orderproducts %}
      {% if object.0 in invalid_products %}
    <tr class="danger">
      {% else %}
    <tr>
      {% endif %}


        <td><a href="/products/{{ object.0.id }}">{{ object.0.title }}</a></td>
        <td class="text-center">{{ object.1 }}</td>
        <td class="text-right">{{ object.0.formatted_price }}</td>
        <td class="text-right">{{ object.2 }}</td>
        <form method="POST" action="{% url 'website:delete_product_from_order' object.0.id order.id %}">
        {% csrf_token %}
        <td class="text-right">
          <input type="submit" value="Delete Product" class="btn btn-xs btn-danger"/>
        </td>
      </form>
    </tr>

    {% endfor%}
    <tr>
      <th></th>
      <th></th>
      <th class="text-right">Total :</th>
      <th class="text-right">{{ total_string }}</th>
      <th></th>
    </tr>
  </table>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    {% if total > 0 %}
      {% if valid_order %}
        <a href="/completeorder" class="btn btn-info btn-lrg">Complete Order</a>

      {% endif %}
    {% endif %}
      {% endif %}
    <a href="/deleteorder" class ="btn btn-danger">Cancel Order</a>
  </div>
  {% endblock %}
