{% extends 'base.html' %}

  {% block content %}
	
  
	<div class="jumbotron">
    <h1>Order # {{ order.id }}</h1>
	</div>
  <table class="table">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price/Unit</th>
      <th>Subtotal</th>
    </tr>
    {% for product in orderproducts %}
    <tr>
      <td>{{ product.title }}</td>
      <td>{{ product.quantity }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.price }}</td>
    </tr>
    {% endfor%}
  </table>
	

  {% endblock %}

  {% block footer %}

  {% endblock %}