{% extends 'base.html' %}

  {% block content %}
	
  
	<div class="jumbotron">
    <h1>Order # {{ order.id }}</h1>
	</div>
  <table class="table table-striped">
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price/Unit</th>
      <th>Subtotal</th>
      <th></th>
    </tr>
    {% for object in orderproducts %}
    <tr>
      {% for product in object.0 %}
      <td>{{ product.title }}</td>
      <td>{{ object.1 }}</td>
      <td>{{ product.price }}</td>
      <td>{{ object.2 }}</td>
      <form method="POST" action="{% url 'website:delete_product_from_order' product.id order.id %}">
      {% csrf_token %}
    <td>
      <input type="submit" value="Delete" class="btn btn-xs btn-danger"></input></td>
      </form>
      {% endfor%}
    </tr>
    {% endfor%}
    <tr>
      <th>Total</th>
      <th></th>
      <th></th>
      <th>{{ total }}</th>
      <th></th>
    </tr>

  </table>
	<a href="/completeorder" class="btn btn-info">Complete Order</a>
  <a href="/deleteorder" class ="btn btn-danger">Cancel Order</a>

  {% endblock %}

  {% block footer %}

  {% endblock %}