{% extends 'base.html' %}

{% block content%}
    <h1 class="text-center">{{ page_title }}</h1>
    <div class="col-xs-8 col-xs-offset-2">
        <ul class="list-group">
        {% for item in items %}
            <a class="list-group-item list-group-item-success lead" href="/product-categories/{{ item.0.id }}">{{ item.0 }} <span class="badge">{{ item.2 }}</span></a>
            
            <ol class="list-group" style="margin-left:10em">
                {% for x in item.1 %}
                    <a class="list-group-item list-group-item-info" href="/products/{{ x.0 }}">{{ x.1 }}</a>
                {% endfor %}
            </ol>


        {% empty %}
            <h3> Sorry! No products</h3>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
