{% extends 'base.html' %}

{% block content%}
    <h1 class="text-center">{{ page_title }}</h1>
    <div class="col-xs-8 col-xs-offset-2">
        <ul class="list-group">
        {% for category in items %}
            <a class="list-group-item list-group-item-success lead row" href="/product-categories/{{ category.0.id }}">{{ category.0 }} 
            <span class="badge">{{ category.2 }}</span></a>
            <ol class="list-group" style="margin-left:10em">
                {% for product in category.1 %}
                    <span class="list-group-item list-group-item-info row">
                        <a class="col-sm-5" href="/products/{{ product.id }}">{{ product.title }} &thinsp; <i>({{ product.current_inventory }})</i></a>
                        <!-- <span class="col-sm-3"></span> -->
                        <span class="col-sm-5"><small>{{ product.seller_string }}</small></span>
                        <span class="col-sm-2">{{ product.formatted_price }} </span>
                    </span>

                {% empty %}
                    <li class="list-group-item list-group-item-danger lead">There are no products in this category.</li>
                {% endfor %}
            </ol>
        {% empty %}
            {{ error }}
        {% endfor %}
        </ul>
    </div>
{% endblock %}
